
@{
    ViewData["Title"] = "Nosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-color: #f5f5dc;">
<div id="CauroselEjemplo" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/imagenes/a.jpg" class="d-block w-100" />
        </div>
        <div class="carousel-item">
            <img src="~/imagenes/b.jpg" class="d-block w-100" />
        </div>
        <div class="carousel-item">
            <img src="~/imagenes/c.jpg" class="d-block w-100" />
        </div>
        <div class="carousel-item">
            <img src="~/imagenes/d.jpg" class="d-block w-100" />
        </div>
    </div>
</div>
<div class="container my-5">
    <h2 class="text-center mb-4">Sobre Nosotros</h2>
    <p class="text-center">
        🎬 Todo empezó con dos hermanos fanáticos del cine, que de chicos pasaban horas grabando películas de la tele y armando maratones en casa.
        Con el tiempo, decidieron compartir su pasión con el mundo y empezaron a subir sus películas favoritas online.
        Así nació esta página: un espacio donde podés ver pelis de todo tipo, recomendadas con amor cinéfilo.
        <br><br>
        ¡Ponete cómodo y disfrutá del show!
    </p>
</div>
</body>

