
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-color: #f5f5dc;">
    <div style="background-image: url('/imagenes/callcenter.jpg'); height: 400px; background-size: cover; background-position: center;">
        <div class="d-flex justify-content-center align-items-center h-100 text-center text-black">
            <div class="py-5">
                <h3>¿Necesitas ayuda?</h3>
                <p>Estamos aquí para ayudarte con cualquier consulta.</p>
            </div>
        </div>
    </div>

    <h2 class="text-center my-4 text-primary">Ponete en contacto con nosotros</h2>
    <form>
        <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" id="nombre" class="form-control" placeholder="Tu nombre">
        </div>

        <div class="mb-3">
            <label class="form-label">Correo electrónico</label>
            <input type="email" id="correo" class="form-control" placeholder="nombre@ejemplo.com">
        </div>

        <div class="mb-3">
            <label class="form-label">Mensaje</label>
            <textarea class="form-control" id="mensaje" rows="4" placeholder="Escribí tu mensaje..."></textarea>
        </div>

        <div>
            <button class="btn btn-success" onclick="EjecutarAlerta()">Enviar</button>
            <button class="btn btn-danger">Cancelar</button>
        </div>
    </form>

    <div class="position-fixed bottom-0 end-0 p-3">​
    <div id="miToast" class="toast">​
        <div class="toast-header">​
            <strong class="me-auto">Perfecto!</strong>​
            <small>Hace unos segundos</small>​
            <button class="btn-close" data-bs-dismiss="toast"></button>​
        </div>​
        <div class="toast-body">​
            Tu mensaje fue enviado al sistema!
            Pronto se contactaran contigo.
        </div>​
    </div>​
</div>

@section Scripts {
    <script>
        function EjecutarAlerta() {
            var nombre = document.getElementById('nombre').value;
            var correo = document.getElementById('correo').value;
            var mensaje = document.getElementById('mensaje').value;

            if (nombre && correo && mensaje) {
                var ejemplo = document.getElementById('miToast');
                var toast = new bootstrap.Toast(ejemplo);
                toast.show();
            } else {
                alert("Completá todos los campos.");
            }
        }
    </script>
}

</body>

​
