<h1 class="text-center mb-4">Posters</h1>
<div class="container">
    <div class="row">
        <div class="col-4 mb-3">
            <img src="~/imagenes/peliculas/jhon wick.jpg" style="width: 100%; height: 180px; object-fit: contain;">
        </div>
        <div class="col-4 mb-3">
            <img src="~/imagenes/peliculas/loki.jpg" style="width: 100%; height: 180px; object-fit: contain;">
        </div>
        <div class="col-4 mb-3">
            <img src="~/imagenes/peliculas/matrix_c1cf.jpg" style="width: 100%; height: 180px; object-fit: contain;">
        </div>
        <div class="col-4 mb-3">
            <img src="~/imagenes/peliculas/naufrago.jpg" style="width: 100%; height: 180px; object-fit: contain;">
        </div>
        <div class="col-4 mb-3">
            <img src="~/imagenes/peliculas/smile - copia.jpg" style="width: 100%; height: 180px; object-fit: contain;">
        </div>
        <div class="col-4 mb-3">
            <img src="~/imagenes/peliculas/wolverine.jpg" style="width: 100%; height: 180px; object-fit: contain;">
        </div>
    </div>
</div>