
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="background-color: #f5f5dc;">

        <div class="container mt-5">
            <h1 class="text-center mb-4">Listado de Películas</h1>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Película</th>
                        <th>Género</th>
                        <th>Costo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John Wick</td>
                        <td>Acción</td>
                        <td>$5500</td>
                    </tr>
                    <tr>
                        <td>Loki</td>
                        <td>Ciencia ficción</td>
                        <td>$6200</td>
                    </tr>
                    <tr>
                        <td>Matrix</td>
                        <td>Ciencia ficción</td>
                        <td>$5800</td>
                    </tr>
                    <tr>
                        <td>Náufrago</td>
                        <td>Drama</td>
                        <td>$5000</td>
                    </tr>
                    <tr>
                        <td>Smile</td>
                        <td>Terror</td>
                        <td>$4700</td>
                    </tr>
                    <tr>
                        <td>Wolverine</td>
                        <td>Acción</td>
                        <td>$5300</td>
                    </tr>
                </tbody>
            </table>
        </div>

    <h1 class="text-center mb-4">Posters</h1>
    <div class="container">
        <div class="row">
            <div class="col-4 mb-3">
                <img src="~/imagenes/peliculas/jhon wick.jpg" style="width: 100%; height: 180px; object-fit: contain;">
            </div>
            <div class="col-4 mb-3">
                <img src="~/imagenes/peliculas/loki.jpg" style="width: 100%; height: 180px; object-fit: contain;">
            </div>
            <div class="col-4 mb-3">
                <img src="~/imagenes/peliculas/matrix_c1cf.jpg" style="width: 100%; height: 180px; object-fit: contain;">
            </div>
            <div class="col-4 mb-3">
                <img src="~/imagenes/peliculas/naufrago.jpg" style="width: 100%; height: 180px; object-fit: contain;">
            </div>
            <div class="col-4 mb-3">
                <img src="~/imagenes/peliculas/smile - copia.jpg" style="width: 100%; height: 180px; object-fit: contain;">
            </div>
            <div class="col-4 mb-3">
                <img src="~/imagenes/peliculas/wolverine.jpg" style="width: 100%; height: 180px; object-fit: contain;">
            </div>
        </div>
    </div>
</body>
