@{
    ViewData["Title"] = "Bienvenido";
}

<body style="background-color: #333333;">
    <div class="container text-center d-flex justify-content-center align-items-center" style="background-image: url('/imagenes/prueba.jpg'); background-size: cover; background-position: center; height: 100vh;">
        <div>
            <h1 class="text-white">¡Bienvenido a mi página de películas!</h1>
            <p class="text-white fs-5">Explorá peliculas y recomendaciones del mejor cine, todo en un solo lugar.</p>
            <a href="/Menu/Menu" class="btn btn-dark text-white">Menú</a>
        </div>
    </div>
</body>



